/* ==========================================================================
Age verification
========================================================================== */
.altteam_google_images {
    width: 100px;
    height: 100px;
}


/* /Age verification */