/* ==========================================================================
[Altteam] Google Images
========================================================================== */

.row{
    clear: both;
    overflow: hidden;
    margin: auto;

}
.col-sm {
    float: left;
    padding: 5px 10px 5px 5px;
    width: 300px;
    height: 100%;
}
